asgiref==3.11.1
psycopg2-binary==2.9.10
Django==6.0.8
djangorestframework==3.17.2
django-cors-headers==4.7.0
pillow==12.3.0
sqlparse==0.6.0
typing_extensions==4.15.0
sendgrid==6.11.0
cloudinary==1.42.1
django-cloudinary-storage==0.3.0
requests==2.33.0
python-dotenv==1.2.2
icalendar==7.3.0
recurring-ical-events==3.8.2