@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  /* Cores primarias */
  --vermelho-icc: #b20000;
  --preto:#000000;
  --branco: #ffffff;
  /* Gradiente industrial */
  --vermelho-1: #cf2d2d;
  --vermelho-2: var(--vermelho-icc);
  --vermelho-3: #7b001e;
  --vermelho-4: #5a0f1b;
  /* Escalas de cinza */
  --cinza-destaque: #111111;
  --cinza-subtitulos: #333333;
  --cinza-descricoes: #666666;
  --cinza-bordas: #e5e5e5;
  --cinza-fundos: #f5f5f5;
}

html, body, #root {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}